# Byte-compiled / cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Models and checkpoints
*.pth
*.pt
models/*.pth
models/*.pt
checkpoints/
*.onnx

# Data
data/
*.zip
*.tar.gz
*.h5
*.csv

# Colab & Jupyter junk
.ipynb_checkpoints/
.DS_Store

# VS Code / IDEs
.vscode/
.idea/

# Environment files
.env
*.egg-info/